.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}
.play-button {
  margin-top: 30px;
  text-align: center;
}
.dice-throw {
           background: #4ECCA3;
           font-size: 20px;
           color: white;
           border-radius: 7px;
           box-shadow: 0 7px #1C9A71;
           display: inline-block;
           transition: all .2s;
           position: relative;
           padding: 20px 25px;
           top: 0;
           cursor: pointer;
           margin:0 20px;
           font-family: 'Lobster', cursive;
}
.dice-throw:active {
            top: 3px;
            box-shadow: 0 2px 0px #1C9A71;
            transition: all .2s;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
